.calendar-wrapper {
  padding: 0 300px;

  //display: flex;
  //flex-direction: column;
  //align-items: center;
}

.calendar__title {
  font-weight: 300;
  font-size: 21px;
  line-height: 30px;

  text-align: center;
}

.fc .fc-button-group {
  gap: 5px;
}

.fc-toolbar-title:first-letter {
  text-transform: capitalize;
}

.fc-view {
  background-color: #fff;
}

.fc-scroller {
  overflow: hidden;
}

@media (max-width: 1550px) {
  .calendar-wrapper {
    padding: 0 100px;
  }
}
